@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.weather2 {

    &_weather-forecast {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        padding-top: 10px;
        text-transform: capitalize;
        text-align: center;
    }

    &_week-list {
        flex-flow: column wrap;
        place-content: space-between flex-end;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;

    }
    
    &_week-info {
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        text-align: center;
        align-items: center;
     
        }
        
        &__week-item {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            margin: 0;
            padding: 0;
            text-transform: capitalize;
        }
    }
    
    @media screen and (min-width: 786px) {
        .weather2 {
    
        &_weather-forecast {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin: 0;
            padding-top: 10px;
            text-transform: capitalize;
            text-align: center;
        }
        
        &_week-info {
            font-size: 24px;
            }
            
            &__week-item {
                font-size: 16px;
            }
    }
    }


  