@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.weatherForecast {
    &_main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        position: absolute; 
        left: 0%;
        top: 0;
    
        background:#4440F7;
        color: white;
        background-size: cover;
        background-position: center;
    
        width: 288px;
        height: 489px;
    
    
        margin-top: 60px;
    
        box-sizing: border-box;
        border-radius: 4px;
        
       
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &_weather-forecast {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        padding-top: 10px;
        text-transform: capitalize;
        text-align: center;
    }

    &_week-list {
        flex-flow: column wrap;
        place-content: space-between flex-end;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;

    }
    
    &_week-info {
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        text-align: center;
        align-items: center;
     
        }
        
        &__week-item {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            margin: 0;
            padding: 0;
            text-transform: capitalize;
        }

        &_weatherBtn {
            margin-top: 18px;
            padding: 8px 14px;
            
            font-size: 20px;
            color: white;
            background: rgba(254, 254, 255, 0.3);
            border-radius: 10px;
            border: none;
            text-align: center;
            }
            
            &_weatherBtn:hover {
              background-color: rgba(254, 254, 255, 0.5);
            }
    }
    
    @media screen and (min-width: 786px) {
        .weatherForecast {
    
        &_weather-forecast {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin: 0;
            padding-top: 10px;
            text-transform: capitalize;
            text-align: center;
        }
        
        &_week-info {
            font-size: 24px;
            }
            
            &__week-item {
                font-size: 16px;
            }
    }
    }


    