@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ul {
    list-style:none;
}

.weatherForecast {
    &_main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        position: absolute; 
        left: 0%;
        top: 0;
    
        background:#4440F7;
        color: white;
        background-size: cover;
        background-position: center;
    
        width: 288px;
        height: 489px;
    
    
        margin-top: 60px;
    
        box-sizing: border-box;
        border-radius: 4px;
        
       
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &_weather-forecast {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        padding-top: 10px;
        text-transform: capitalize;
        text-align: center;
    }

    &_week-info-grid {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 80px auto 80px; 
        gap: 15px 10px;
        background-color: darkblue;
    }
    
    &_item-a {
  grid-column: 1;
  grid-row: 1;
  background-color: darkgreen;
}

        &_weatherBtn {
            margin-top: 18px;
            padding: 8px 14px;
            
            font-size: 20px;
            color: white;
            background: rgba(254, 254, 255, 0.3);
            border-radius: 10px;
            border: none;
            text-align: center;
            }
            
            &_weatherBtn:hover {
              background-color: rgba(254, 254, 255, 0.5);
            }
    }
    
    @media screen and (min-width: 786px) {
        .weatherForecast {
    
        &_weather-forecast {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin: 0;
            padding-top: 10px;
            text-transform: capitalize;
            text-align: center;
        }
        
        &_week-info {
            font-size: 24px;
            }
            
            &__week-item {
                font-size: 16px;
            }
    }
    }


    